:root {
  color-scheme: dark;
}

h1 {
  text-align: center;
  font-size: 40px;
}

p {
  text-align: center;
  font-size: 16px;
  margin-bottom: 20px;
}

.flexbox {
  width: 95%;
  height: 60vh;
  margin: auto;
  padding: 10px;
  background-color: #333;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-evenly;
  /* align-items: center; */
  align-content: space-evenly;
  overflow: scroll;
}

.flex__item {
  width: 150px;
  height: 150px;
  background-color: #119;
  text-align: center;
  font-size: 25px;
}
