:root {
  color-scheme: dark;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

p {
  text-align: center;
  font-size: 16px;
  margin-bottom: 20px;
}

.flexbox {
  width: 90%;
  margin: auto;
  display: flex;
  /* flex-direction: row-reverse;
  flex-wrap: wrap-reverse; */
  flex-flow: row-reverse wrap-reverse;
}

.flex__item {
  width: 150px;
  height: 150px;
  background-color: #911;
  font-size: 30px;
  text-align: center;
  margin: 20px;
}

.flex__item:first-child {
  background-color: #c66;
}
