:root {
  color-scheme: dark;
}

h1 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 50px;
}

p {
  text-align: center;
  font-size: 16px;
  margin-bottom: 50px;
}

.box {
  width: 50%;
  margin: auto;
  background-color: #333;
  padding: 10px;
  margin-bottom: 30px;
  outline: 3px solid #00f;
  outline-offset: 10px;
}

input {
  display: block;
  margin: auto;
  width: 300px;
  height: 40px;
  border: none;
  border-top: 3px solid #f00;
  color: #f00;
  padding: 5px 15px;
}

input:focus-visible {
  outline: none;
}

input:focus {
  color: #fff;
  border-bottom: 2px solid #00f;
}
