:root {
  color-scheme: dark;
}

h1 {
  font-size: 40px;
  text-align: center;
  margin-bottom: 50px;
}

header p {
  font-size: 16px;
  text-align: center;
  margin-bottom: 30px;
}

.contain {
  width: min(400px, 100%);
  margin: auto;
  background-color: #333;
  padding: 20px;
  border-radius: 20px;
}

.contain p {
  font-size: 1.4rem;
}

.contain p::first-letter {
  initial-letter: 3 2;
  color: #f33;
  font-family: sans-serif;
  padding-right: 8px;
}
